*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: 'Segoe WP'; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    scroll-behavior: smooth;
    /* src: local('Segoe WP'), url('https://fonts.cdnfonts.com/s/13139/SegoeWP.woff') format('woff'); */

}

    


.container{
    width: 1280px;
    margin: auto;
}

.header-section{
    padding-top: 60px;
    width: 100%;
    height: 908px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #F1CDB3;
    cursor: pointer;
}
.logo p {
    padding-top: 5px;
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
    color: #F1CDB3;
    width: 500px;
}
.li{
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    color: #CDCDCD;
}
.li::after{
    content: '';
    position: absolute;
    width: 100%;
    height:  0.175rem;
    background-color: #F1CDB3;
    left: 0;
    bottom: -5px;
    border-radius: 5px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: 0.3s ease;
}
.li:hover::after{
    transform: scale(1, 1);
}
.li:hover{
    color: #FFFFFF;
}
li {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    color: #CDCDCD;
}
li::after{
    content: '';
    position: absolute;
    width: 100%;
    height:  0.175rem;
    background-color: #F1CDB3;
    left: 0;
    bottom: -5px;
    border-radius: 5px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: 0.3s ease;

}
.activated::after{
    transform: scale(1, 1);
}
.activated{
    color: #FFFFFF;
}
li:hover::after{
    transform: scale(1, 1);
}
li:hover{
    color: #FFFFFF;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: white;

}

/*--header section--*/
/*-- main section--*/
.main-section{
    margin-top: 76px;
}
.main-items{
    display: flex;
    justify-content: space-between;

}
.main-info{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    color: #FFFFFF;
}
h2{
    width: 319px;
    height: 114px;
    font-size: 44px;
    line-height: 57px;
    
}
p{
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    
}
.btn{
    width: 207px;
    height: 52px;
    background-color: #F1CDB3;
    color: #545454;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    background-color: #FDDCC4;
}
/*--main-section--*/
/*--about section--*/
.about-section{
    background-color: #FFFFFF;
    padding: 80px;
}
.main-photo{
    width: 698px;
    height: 719px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dog-pet-photo{
    width: 300px;
    height: 408px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;

}
.about-items{
    display: flex;
    justify-content: space-around;
}
h3{
    width: 280px;
    height: 114px;
    font-size: 35px;
    line-height: 50px;
    color: #545454;
    
}
.about{
    width: 370px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    color: #4C4C4C;
}
.about p{
    color: #4C4C4C;
}
/*--about section--*/

/*--slider section--*/

.slider-section{
    background-color: #F6F6F6;
    width: 100%;
    height: 877px;
    padding: 80px;
}



/*--POP MESSAGE--*/
.slider-details-wrapper{
    display: none;
    position: relative;
    z-index: 1;
}

.slider-popop{
    display: flex;
    position: absolute;
    width: 1280px;
    height: 877px;
    background-color:  rgba(0, 0,0, 0.6);
    justify-content: center;
    align-items: center;
}
.detaled-info{
    display: flex;
    position: relative;
    left: 15%;
    top: 20%;
    border-radius: 9px;
    position: absolute;
    width: 900px;
    height: 500px;
    background-color: #FAFAFA;
    justify-content: space-around;
}

.X-icon{
    
    left: 100%;
    text-align: center;
    border: solid 1px #F1CDB3;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 99%;
}
/*-POP MESSAGE--*/



.detaled-animal{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
}
.deatled-animal-bio{
    width: 400px;
    padding-top: 50px;
    padding-left: 20px;
}
.detaled-info h3 {
    height: 60px;
    display: flex;

}
.detaled-info h4{
    display: flex;
    padding: 0;
}
.detaled-info h5{
    padding: 40px 40px 40px 0;
}
.age-list{
    display:grid;
    

}
.age-row{
    display: flex;
    align-items: center;
}
.age-row p {
    padding-left: 10px;
    color: #7c7c7c;
}
.title{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    color: #545454;
}
.slider-section h3{
    width: 400px;
    text-align: center;
}
.slider-animals{
    position: relative;
    display: flex;
    justify-content: space-around;

}
.arrow{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    transition: 0.3s ease;
}
.arrow:hover{
    background-color: #F1CDB3;
}
.left{
    top: 50%;
    left: 0;
}
.right{
    top: 50%;
    right: 0;
    
}
.animal-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;

}
.animal{
    width: 270px;
    height: 270px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.name{
    color: #545454;
    font-size: medium;
    text-align: center;
}
.lern-more{
    background-color: #FAFAFA;
    border: solid 2px #FDDCC4;
    transition: 0.3s ease;
    cursor: pointer;
    color: #545454;
}
.lern-more:hover{
    background-color: #FDDCC4;
}
.btn-center{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.get-to{
    width: 261px;
    align-self: center;
}






/*--slider section--*/

/*--help section--*/
.help-section{
    padding: 80px;
    width: 100%;
    height: 611px;
    background-color: #FFFFFF;
}
.help-section h3{
    width: 312px;
    text-align: center;
}

.help-icons{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 55px;
}
.help-icon{
    width: 149px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.icon{
    width: 47.86px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.Transportation{
    width: 60px;
}
.Toys{
    width: 60px;
}
.Bowls-and-cups{
    width: 60px;
    height: 56.82px;
}
.Shampoos{
    width: 31.3px;
    height: 60px;
}
.Vitamins{
    height: 54.16px;
    width: 60px;
}
.Medicines{
    width: 60px;
    height: 60px;
}
.Collars-leashes{
    width: 60px;
    height: 52.43px;
}
.Sleeping-areas{
    width: 56.29px;
    height: 60px;
}
h4{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    color: #545454;
    cursor: pointer;
}

/*--help section--*/

/*--donation section--*/

.donation-section{
    width: 100%;
    height: 462px;
    padding: 80px;
    background-color: #F6F6F6;
}
.donation-items{
    display: flex;
    justify-content: space-evenly;
}
.donation-dog{
    width: 505px;
    height: 261px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.donation-info{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.donation-info h3 {
    width: 280px;
}
.donation-info h5{
    padding-bottom: 20px;
    color: #545454;
}
.donation-info p{
    padding-top: 20px;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    width: 386px;
}
.donation-btn{
    display: flex;
    justify-content: space-around;
    border-radius: 9px;
    width: 349px;
    height: 43px;
}
.donation-btn h4{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 400;
}
.credit-card-icon{
    width: 30px;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #292929;
}

/*--donation section*/
/*--footer section*/
.footer-section{
    width: 100%;
    height: 350px;
    padding: 40px 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-items{
    display: flex;
    justify-content: space-around;
}
.footer-items h3 {
    color: #FFFFFF;
    cursor: pointer;
    
}
.mail-icon{
    width: 40px;
    height: 26px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.footer-sort{
    display: flex;
    align-items: center;
}

.call-icon{
    width: 40px;
    height: 32px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.footer-items h4{
    color: #F1CDB3;
    padding-top: 0px;
    width: 16rem;
}
.footer-suggest{
    display: grid;
    grid-template-rows: 120px;
}

.footer-visit{
    display: grid;
    grid-template-rows: 120px;
}
.footer-dog{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 310px;
    cursor: pointer;
}
.pin-icon{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 32px;
    cursor: pointer;
}




/*--footer section*/


/*RESPOSNIVE*/

@media(max-width:768px){
    .container{
        width: 100%;
    }
    .nav-bar ul{
        width: 100%;
        height: 500px;
    }
    .header-section{
        height: 100%;
        padding-top: 0;
        padding: 20px;
    }
    .main-photo{
        width: 100%;
        height: 600px;
        background-size: 100%;
    }
    .main-info{
        width: 100%;
        align-items: center;
    }
    .header{
        justify-content: space-around;
    }
    .main-items{
        flex-direction: column;
    }
    .about-items{
        flex-direction: column;
    }
    .slider-section{
        height: 100%;
    }
    .slider-animals{
        flex-direction: column;
    }
    .arrow{
        display: none;
    }
    .help-icons{
        flex-wrap: wrap;
    }
    .donation-items{
        flex-direction: column;
    }
    .donation-section{
        height: 100%;
    }
    .donation-dog{
        width: 100%;
        height: 223px;
        background-size: 100%;
    }
    .donation-info{
        width: 100%;
        height: 100%;
    }
    .donation-info p{
        width: 100%
    }
    .donation-btn{
        width: 100%;
    }
    .donation-btn h4 {
        font-size: 100%;
        text-align: center;
        padding-bottom: 30px;
        font-weight: 400;
    }
    .help-section{
        height: 100%;
        flex-wrap: wrap;
    }
    .footer-section{
        height: 100%;
    }
    .footer-items{
        flex-direction: column;
    }
    .footer-suggest{
        gap: 15px;
    }
    .footer-visit{
        padding-top: 10px;
        gap: 15px;
    }

    p{
        text-align: center;
        
    }



    .hamburger{
        display: block;

    
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width:50%;
        text-align: center;
        transition: 0.3s;
    }

    li{
        margin: 16px 0;

    }
    .nav-menu.active{
        right: 0;
    }
}